[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
beautifulsoup4 = "*"
pillow = "*"
requests = "*"
python-dotenv = "*"
duckduckgo-search = "*"

[dev-packages]

[requires]
python_version = "3.12"
